<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^$ blazen/www/ [L]
RewriteCond %{blazen/www} !-f
RewriteCond %{blazen/www} !-d
RewriteCond %{REQUEST_URI} !^/www/
RewriteRule ^(.*)$ blazen/www/$1
</IfModule>
