<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BLAZEN - Password recovery</title>
    <style>
        img{
            margin-top: 0.83em;
            width: 240px;
            height: 50px;
        }
    </style>
</head>
<body>
<img src="blazen-brand-blue.png" alt="blazen brand" width="240px" height="50px">
<br />
<h1>You try to recovery your BLAZEN password !</h1>
<br />
<p>If you really want to do this action click <a href="{$url}">here..</a></p>

<p>if you dont want to restart your BLAZEN password just ignore this email</p>


</body>
</html>