<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <style>
        body {
            background: #2e59d9;
        }
    </style>
</head>
<body>
<p>Hello,</p>


<h1>WELCOME {$username} !</h1>
<p>U have registred to BLAZEN!</p><br>

</body>
</html>