<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BLAZEN - Registration</title>
    <style>
        img{
            margin-top: 0.83em;
            width: 240px;
            height: 50px;
        }
    </style>
</head>
<body>
<img src="blazen-brand-blue.png" alt="blazen brand" width="240px" height="50px">
<br />
<h1>WELCOME {$name} !</h1>
<p>U have registred to BLAZEN!</p>
<br />
<p>Create your password and comlete the registration by clicking on <a href="{$emailUrl}">this</a></p>

</body>
</html>