<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BLAZEN - Registration</title>
    <style>
        img{
            margin-top: 0.83em;
            width: 240px;
            height: 50px;
        }
    </style>
</head>
<body>
<img src="blazen-brand-blue.png" alt="blazen brand" width="240px" height="50px">
<br />
<h1>WELCOME {$username} !</h1>
<p>Your BLAZEN account is completed!</p>
<p>Now you can sign in with your username and password</p>

</body>
</html>