<div class="row justify-content-center">
    <div class="col-lg-6">

        <div n:block=title class="mb-5 invisible">Your timeline</div>

        <!-- Wall Post -->
        {include '../../post.latte'}
    </div>
</div>