<div class="row pt-3">
    <div class="col d-inline-block">
        <h1 class="d-inline">Friends</h1>
        <a n:href="Find:" class="btn btn-outline-primary float-right">Najít Přátele</a>
    </div>
</div>

