{block content}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 n:block=title class="mb-5">Your timeline</h1>

            <!-- Wall Post -->
            {include '../post.latte'}
        </div>
    </div>
</div>

