/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4e73df;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #224abe;
}